.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* pantalla mediana*/
@media (min-width: 991.98px){
  
  #webCam{
    width:320px;
    height: 240px;
    position: "absolute";
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
  }
  #canvas{
    width:320px;
    height: 240px;
    position: "absolute";
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    width:480;
    height:240;
  }
}
/* pantalla mediana*/
@media (max-width: 991.98px){
  
  #webCam{
    width:320px;
    height: 240px;
    position: "absolute";
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
  }
  #canvas{
    width:320px;
    height: 240px;
    position: "absolute";
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    width:480;
    height:240;
  }
}

/* pantalla mobile*/
@media (max-width: 400px) { 

  #webCam{
    width:270;
    height: 190px;
    position: "absolute";
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
  }
  #canvas{
    width:270;
    height: 190px;
    position: "absolute";
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    width:480;
    height:240;
  }

 }
